<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Juldi: Simplify your commute</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

      <div id="top">
          <img id="logo" src="img/juldi_logo.png"/>
        <h1>juldi</h1>
        <h2>Simplify your commute</h2>

        <p>Juldi is a shuttle service that groups you with
          nearby commuters going in the same direction.</p>



        <!-- <p>Join the future of transit</p> -->
        <div id="btncontainer">
          <a id="button" href="#form">Ride with us</a>
        </div>

        <br>
        <div id="imgcontainer">
          <a href="#banner">
          <img src="img/down-arrow.png"/>
          </a>
        </div>
      </div>
      <div id="banner">
        <div id="text">
          <h2 id="intro">Lets face it. Commuting sucks. </h2>
          <p>It's frustratingly slow, expensive, and a huge waste of time.</p>
          <p>Juldi is here to help. We save you time and money by providing a new way to get to work.</p>

        </div>
      </div>
      <div id="explanation">

        <p class="how">How does it work?</p>
        <div id="descrip">
          <p>We launch a shuttle route when there are enough commuters going in the same direction</p>
          <p>Our shuttles pick you up, and take you on a direct route to your destination.</p>
          <p>Riders split the fare - meaning you get a fast, convenient ride to work, for as little as $5.</p>
        </div>

        <p class="how">How do I use Juldi?</p>
        <div class="step">

          <p>1. Select the route you want</p>
          <img src="img/route.png"/>
        </div>

        <div class="step">

          <p>2. Purchase a pass</p>
          <img src="img/www.png"/>
        </div>

        <div class="step">

          <p>3. Show the driver your pass and you're good to go!</p>
          <img src="img/smartphone.png"/>
        </div>
      </div>

      <div id="btncontainer">
        <a id="button" href="#form">Sign me up!</a>
      </div>

      <div id="benefits">
        <div id="benefits_wrapper">
          <div class="pro">
            <p>Save Time</p>
            <img src="img/clock.png"/>
            <p class="bodytxt">Your time is valuable. We add hours back to your day by getting you
              where you need to go quicker than the competition.
            </p>
          </div>
          <div class="pro">
            <p>Be Productive</p>
            <img src="img/growth.png"/>
            <p class="bodytxt">Maximize your day. Get some extra work done. Read that book you
            haven't gotten around to. Or just take a well deserved nap.
            </p>
          </div>
          <div class="pro">
            <p>Save Money</p>
            <img src="img/money.png"/>
            <p class="bodytxt">Stop wasting money on commuting. Relax in our premium vans
              and think about how much you're saving.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="container" id="purchase">

      	<h2>Select your route:</h2>

        <ul>
        <li>
          <input type="radio" id="f-option" name="selector" checked="checked">
          <label for="f-option">First route coming soon</label>

          <div class="check"></div>

        </li>


        <li>
          <input type="radio" id="s-option" name="selector">
          <label for="s-option">Start a new route</label>

          <div class="check"><div class="inside"></div></div>
        </li>
      </ul>

      <div id="route">
          <h2>Destination trip</h2>
          <p class="description"><b>Pick up: </b>Vienna Metro North side, 7:45 am</p>
          <p class="description"><b>Drop off: </b>Metro Center station, 8:45 am</p>
          <h2>Return trip</h2>
          <p class="description"><b>Pick up: </b>Metro Center station, 5:15 pm</p>
          <p class="description"><b>Drop off: </b>Vienna Metro North side, 6:15 pm</p>
      </div>
      </div>

      //stripe form
      <form action="/" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_AQ2Qf9lnT83wqSTYUuUqZARt"
          data-amount="1200"
          data-name="Juldi Pass"
          data-label="Get Day Pass"
          data-description="Day Pass"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </form>

    -->

      <div id="map"></div>
      <div id="form">
        <h2>Tell us about your morning commute.</h2>
        <h2>We'll email you when we launch your route.</h2>
      <form action="/route" method="POST">

      <div class="formitem">
        <!-- <img src="img/home.png"/> -->
        <input id="start" class="place" type="text" name="start" placeholder="where do you commute from?" required>
      </div>
        <br>
      <div class="formitem">
        <input id="end" class="place" type="text" name="end" placeholder="where do you commute to?" required>
      </div>
        <br>
      <div class="formitem">
        <p>when do you need to be there?</p>
        <select id="hrs" name="hrs">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option selected="selected">09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
        <select id="mins" name="mins">
          <option>00</option>
          <option>05</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
          <option>30</option>
          <option>35</option>
          <option>40</option>
          <option>45</option>
          <option>50</option>
          <option>55</option>
        </select>
        <select id="ampm" name="ampm">
          <option>AM</option>
          <option>PM</option>
        </select>
      </div>
        <br>
      <div class="formitem">
        <input id="email" type="email" name="email" placeholder="what email can we reach you at?" required>
      </div>
        <br>
        <input id="button" type="submit" value="Submit">
      </form>
      </div>

      <div id="bottom">
        <p>Have burning questions? Email hello@juldi.org for answers.</p>
      </div>


        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS_3AQ48yIXYe3m6zL0ywlN9MNz18CU3M&libraries=places&callback=initMap"
                async defer></script>


                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-93997211-1', 'auto');
                  ga('send', 'pageview');

                </script>
    </body>
</html>
