<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Juldi: Simplify your commute</title>
    <meta name="description" content="Juldi is a shuttle service that groups you with
      nearby commuters going in the same direction.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>

  <div class="container col-12">
    <nav class="navbar">
      <div class="mx-auto" href="/">
        <img src="img/juldi_logo.svg" height="60">
        <span style="color: #0e86f7;" class="align-middle">Juldi</span>
      </div>
    </nav>
    <header>
      <div class="mx-auto"id="header-box">
        <h1 class="text-center"><span style="color: #0e86f7;">Frequently Asked Questions</span></h1>
      </div>
    </header>

    <br>
    <br>

    <div class="container col-8">
      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q1">
        How do I know I'll get to work on time?</h3>
        <div id="q1" class="collapse">
          <p class="">We plan our routes so that you'll always be on time.
          We get you to work early, so that there is a buffer time for any delays.
          No matter the situation, we'll get you where you need to be. </p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q2">
        How will I know where the pickup and dropoff points are?</h3>
        <div id="q2" class="collapse">
          <p class="">We'll email you all relevant information about your route, such as
          the locations, times, and description of the vehicle a few days before the route is launched.
          We'll also send you reminders and make sure the entire process is extremely simple.</p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q3">
        What happens if the shuttle picks me up late?</h3>
        <div id="q3" class="collapse">
          <p class="">While this is extremely unlikely due to our prompt drivers and
          planning, in the event where you are picked up late, you'll be fully refunded and given ride credit. </p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q4">
        What happens if I'm late?</h3>
        <div id="q4" class="collapse">
          <p class="">Since there are others in the shuttle, we unfortunately cannot wait more than 2 minutes
            after the set departure time. This is to ensure we can get everyone to work on time.
          As a result, arriving late means you will need to use another form of transportation to work. </p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q5">
        Are the drivers actual employees?</h3>
        <div id="q5" class="collapse">
          <p class="">Unlike ridesharing, we have professional drivers to get you to work. Our
          drivers will ensure a prompt, friendly, and comfortable ride to work everyday.</p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q6">
        Why is there only one route?</h3>
        <div id="q6" class="collapse">
          <p class="">We're currently running our first pilot route to ensure our rides
          are consistently excellent. Once we know our customers are as happy as possible,
        we'll be expanding and servicing more routes.</p>
        </div>

      <hr>

      <h3 class="pointer text-left" data-toggle="collapse" data-target="#q7">
        Are the shuttles handicapped accessible?</h3>
        <div id="q7" class="collapse">
          <p class="">With our current vehicles, the vans are unfortunately not handicapped
          accessible. If you need access to such a vehicle, the  <a href="https://www.wmata.com/service/accessibility/metro-access/">
          metro offers shuttles </a> that are customized for you. </p>
        </div>

    </div>

    <br>

    <div id="bottom">
      <p> Still have questions? Email hello@juldi.org for answers. </p>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100479528-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
