<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Juldi: Simplify your commute</title>
    <meta name="description" content="Juldi is a shuttle service that groups you with
      nearby commuters going in the same direction.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="/css/payment.css">

</head>
<body>
  <script src="https://js.stripe.com/v3/"></script>

  <div class="modal fade" id="week-pass" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="payment-form" action="/order" method="POST">
            <div class="group">
              <label>
                <span>Full Name</span>
                <input name="cardholder_name" class="field" placeholder="Your name" required>
              </label>
              <label>
                <span>Email</span>
                <input name="cardholder_email" class="field" placeholder="you@example.com" type="email" required>
              </label>
              <label>
                <span>ZIP Code</span>
                <input class="field" name="address_zip" required>
              </label>
            </div>
            <div class="group">
              <label>
                <span>Card</span>
                <div id="cardnum-element" class="field"></div>
              </label>
              <label>
                <span>Exp.</span>
                <div id="cardexp-element" class="field"></div>
              </label>
              <label>
                <span>CVC</span>
                <div id="cardcvc-element" class="field"></div>
              </label>
            </div>
            <button class="checkout-btn" type="submit">Pay $70</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">Success!<span class="token"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-12">
    <nav class="navbar">
      <div class="mx-auto" href="/">
        <img src="img/juldi_logo.svg" height="60">
        <span style="color: #0e86f7;" class="align-middle">Juldi</span>
      </div>
    </nav>
    <header>
      <div id="header-box">
        <h2>Make the most of your day with <span style="color: #0e86f7;">Juldi</span></h2>
      </div>
      <div class="hero" style="overflow: auto;">
        <div class="text-center" style="margin-top: 300px;">

          <a class="btn btn-lg" href="#pilot">Ride with us!</a>

        </div>
      </div>
    </header>

    <br>
    <br>
    <br>

    <div class="col-xl-7 col-lg-8 col-md-10 mx-auto">
      <section class="col-xl-10 col-sm-12 col-11 mx-auto">
        <h2 class="display-5 text-center">What is Juldi?</h2>
        <h4 style="font-weight: normal;">
          Juldi is a simpler way to get to work. We take you there on a
          shuttle route optimized for your commute. Just tell us
          where you need to go, and we'll handle the rest.
        </h4>
      </section>

      <br>
      <br>
      <br>

      <section>
        <h2 class="display-5 text-center">Why ride with us?</h2>
        <div class="card-deck col-xl-10 col-sm-12 col-10 mx-auto">
          <div class="card">
            <img class="img-50 mx-auto" src="img/interface.png"/>
            <p></p>
            <h4 class="card-title text-center">Hassle Free</h4>
            <p class="card-text">
              Let us handle the annoying parts of getting to work. You deserve to
              relax in our premium shuttles.
            </p>
          </div>
          <div class="card">
            <img class="img-50 mx-auto" src="img/clock.png"/>
            <p></p>
            <h4 class="card-title text-center">Save Time</h4>
            <p class="card-text">
              Add hours back to your day. Get some extra work done, read that book
              you haven't gotten around to, or just take a well deserved nap.
            </p>
          </div>
          <div class="card">
            <img class="img-50 mx-auto" src="img/money.png"/>
            <p></p>
            <h4 class="card-title text-center">Save Money</h4>
            <p class="card-text">
              Spend less going to work. With our flat rate your costs are predictable
              and low.
            </p>
          </div>
        </div>
      </section>

      <br>
      <br>
      <br>

      <h2 class="display-5 text-center">How does it work?</h2>
      <div class="card-deck col-xl-10 col-sm-12 col-10 mx-auto">
        <div class="card card-flow">
          <img class="img-50 mx-auto" src="img/route.png"/>
          <p></p>
          <h4 class="card-title text-center">Step 1</h4>
          <p class="card-text">
            Purchase a week pass below.
          </p>
        </div>

        <div class="card card-flow">
          <img class="img-50 mx-auto" src="img/www.png"/>
          <p></p>
          <h4 class="card-title text-center">Step 2</h4>
          <p class="card-text">
            We'll send you your route information and pass a few days before your ride.
          </p>
        </div>

        <div class="card card-flow">
          <img class="img-50 mx-auto" src="img/smartphone.png"/>
          <p></p>
          <h4 class="card-title text-center">Step 3</h4>
          <p class="card-text">
            Show the driver your pass and you're good to go!
          </p>
        </div>
      </div>

      <br>
      <br>

      <section id="pilot" class="col-xl-10 col-sm-12 col-11 mx-auto">

        <h2 class="display-5 text-center">Solve your commute for good</h2>
        <br>
        <h4 style="font-weight: normal;">
          Try out our first route with a one week pass. A non-<wbr>stop ride from Burke
          VRE to Downtown Washington (Farragut North station), for only $7 each
          way.
        </h4>
        <p class="text-center">*Route will start on June 19. Arrives in DC at 8:30 AM, leaves at 5:30 PM</p>

        <div id="map"></div>

        <div class="card-deck">
          <div class="card card-disabled hidden-xs-down">
            <h4 class="text-center">Daily Pass</h4>
            <p>
              Coming soon!
            </p>
          </div>
          <div class="card">
            <h4 class="text-center">Weekly Pass</h4>
            <p></p>
            <h3 class="text-center">$14/Day</h3>
            <p></p>
            <p class="text-center">$70 total</p>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#week-pass">
              Get your pass!
            </button>
          </div>
          <div class="card card-disabled hidden-xs-down">
            <h4 class="text-center">Monthly Pass</h4>
            <p>
              Coming soon!
            </p>
          </div>
        </div>
      </section>

      <br>
      <br>

      <section class="col-xl-10 col-sm-12 col-11 mx-auto">
        <h2 class="display-5 text-center">Don't see a route for you?</h2>
        <h4 class="text-center">Let us know what areas we should start serving.</h4>
        <br>
        <form id="reg_form" action="/commuteinfo" method="POST">
          <fieldset class="form-group">
            <label for="start">Start location</label>
            <input type="text" class="form-control" id="start" name="start" placeholder="What's your start address?" required>
          </fieldset>
          <fieldset class="form-group">
            <label for="end">End location</label>
            <input type="text" class="form-control" id="end" name="end" placeholder="What's your end address?" required>
          </fieldset>
          <fieldset class="form-group row">
            <div class="col-sm-6">
              <label for="arrival">When do you need to be at work?</label>
              <select class="form-control" name="arrivalTime" required>
                <option>7:00 AM</option>
                <option>7:15 AM</option>
                <option>7:30 AM</option>
                <option>7:45 AM</option>
                <option>8:00 AM</option>
                <option>8:15 AM</option>
                <option>8:30 AM</option>
                <option>8:45 AM</option>
                <option selected>9:00 AM</option>
                <option>9:15 AM</option>
                <option>9:30 AM</option>
                <option>9:45 AM</option>
                <option>10:00 AM</option>
                <option>10:15 AM</option>
                <option>10:30 AM</option>
                <option>10:45 AM</option>
                <option>11:00 AM</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="leave">When do you leave work?</label>
              <select class="form-control" name="departureTime" required>
                <option>4:00 PM</option>
                <option>4:15 PM</option>
                <option>4:30 PM</option>
                <option>4:45 PM</option>
                <option selected>5:00 PM</option>
                <option>5:15 PM</option>
                <option>5:30 PM</option>
                <option>5:45 PM</option>
                <option>6:00 PM</option>
                <option>6:15 PM</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <label for="email" required>Email</label>
            <input class="form-control" type="email" name="email" placeholder="Where can we reach you?">
          </fieldset>
          <br>
          <fieldset class="text-center">
          <button type="submit" class="btn">Submit</button>
        </fieldset>
        </form>
      </section>

      <br>
      <br>
      <br>

      <div id="bottom">
        <p>Have burning questions? Check out our <a href="/faq">FAQ page.</a>
          <br>
          Need to contact us? Email hello@juldi.org with any and all concerns. </p>

          <h6>Copyright &copy; 2017 Juldi Transportation, All Rights Reserved.<h6>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/payment.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ73C8zs1E16Hq8qzX7zpDpaYBU1XcYtQ&callback=initMap&libraries=places">
  </script>
</body>
</html>
