<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Juldi: Simplify your commute</title>
    <meta name="description" content="Juldi is a shuttle service that groups you with
      nearby commuters going in the same direction.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="/css/payment.css">

</head>
<body>
  <script src="https://js.stripe.com/v3/"></script>

  <div id="purchase-pass" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="payment-form" action="/order" method="POST">
            <div class="group">
              <label>
                <span>Name</span>
                <input name="cardholder_name" class="field" placeholder="Steve Jobs" required>
              </label>
              <label>
                <span>Email</span>
                <input name="cardholder_email" class="field" placeholder="you@example.com" type="email" required>
              </label>
              <label id="first-group">
                <span>Timing</span>
                <input name="timebtn" class="selectTime" type="radio" value="AM">AM</input>
                <input name="timebtn" class="selectTime" type="radio" value="PM">PM</input>
              </label>

            </div>
            <div class="group">
              <label>
                <span>Card</span>
                <div id="cardnum-element" class="field"></div>
              </label>
              <label>
                <span>Exp.</span>
                <div id="cardexp-element" class="field"></div>
              </label>
              <label>
                <span>CVC</span>
                <div id="cardcvc-element" class="field"></div>
              </label>
            </div>

            <div class="group">
              <label>
                <span>Phone*</span>
                <input class="field" name="phone_num" placeholder="703-123-4567">
              </label>
              <label>
                <span>Zip*</span>
                <input class="field" name="address_zip" placeholder="22222">
              </label>
            </div>
            <small>* Optional</small>
            <button id="pass-price" class="checkout-btn" type="submit">Purchase</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">Success!<span class="token"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form id="day-payment-form" action="/order" method="POST">
            <div class="group">
              <label>
                <span>Name</span>
                <input name="cardholder_name" class="field" placeholder="Steve Jobs" required>
              </label>
              <label>
                <span>Email</span>
                <input name="cardholder_email" class="field" placeholder="you@example.com" type="email" required>
              </label>

            </div>
            <div class="group">
              <label>
                <span>Card</span>
                <div id="day-cardnum-element" class="field"></div>
              </label>
              <label>
                <span>Exp.</span>
                <div id="day-cardexp-element" class="field"></div>
              </label>
              <label>
                <span>CVC</span>
                <div id="day-cardcvc-element" class="field"></div>
              </label>
            </div>

            <div class="group">
              <label>
                <span>Phone*</span>
                <input class="field" name="phone_num" placeholder="703-123-4567">
              </label>
              <label>
                <span>Zip*</span>
                <input class="field" name="address_zip" placeholder="22222">
              </label>
            </div>
            <small>* Optional</small>
            <button class="checkout-btn" type="submit">Pay $14</button>
            <div class="outcome">
              <div class="error" role="alert"></div>
              <div class="success">Success!<span class="token"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-12">
    <nav class="navbar">
      <div class="mx-auto">
        <a href="/">
          <img src="img/juldi_logo.svg" height="60">
          <span style="color: #0e86f7;" class="align-middle">Juldi</span>
        </a>
      </div>
    </nav>

    <div class="col-xl-7 col-lg-8 col-md-10 mx-auto">



      <section id="pilot" class="col-xl-10 col-sm-12 col-11 mx-auto">

        <br>
        <h4 style="font-weight: normal;">
          Try out our first route with a one week pass. A non-<wbr>stop ride from Herndon-Monroe
           to L'Enfant Plaza, for only $6 each way.
        </h4>
        <p class="text-center">*Route will start on June 19 and run M-F.</p>
        <p class="text-center"> Arrives in DC at 8:30 AM, leaves at 5:30 PM</p>

        <div id="map"></div>
        <br>
        <h4 class="text-center">Roundtrip Passes</h4>

        <div class="card-deck">
          <div class="card roundtrip-card">
            <h4 class="text-center">Day Pass</h4>
            <p></p>
            <h3 class="text-center">$14/Day</h3>
            <p></p>
            <p class="text-center">
              No commitment!
            </p>
            <button type="button" id="day-pass" class="btn btn-sm" data-toggle="modal" data-target="#purchase-pass" onclick="passPrice('day')">
              Buy Day Pass
            </button>
          </div>
          <div class="card roundtrip-card">
            <h4 class="text-center">Week Pass</h4>
            <p></p>
            <h3 class="text-center">$12/Day</h3>
            <p></p>
            <p class="text-center">$60 total</p>
            <button type="button" id="week-pass" class="btn btn-sm" data-toggle="modal" data-target="#purchase-pass" onclick="passPrice('week')">
              Buy Week Pass
            </button>
          </div>
          <div class="card roundtrip-card card-disabled hidden-xs-down">
            <h4 class="text-center">Month Pass</h4>
            <p></p>
            <h3 class="text-center">$10/Day</h3>
            <p></p>
            <p class="text-center">
              Coming soon!
            </p>
          </div>
        </div>

        <br>
        <h4 class="text-center">One way Passes</h4>

        <div class="card-deck">
          <div class="card roundtrip-card">
            <h4 class="text-center">One way Pass</h4>
            <p></p>
            <h3 class="text-center">$7</h3>
            <p></p>
            <p class="text-center">
              No commitment!
            </p>
            <button type="button" id="day-pass" class="btn btn-sm" data-toggle="modal" data-target="#purchase-pass" onclick="passPrice('one-way-day')">
              Buy Day Pass
            </button>
          </div>
          <div class="card roundtrip-card">
            <h4 class="text-center">One way Week Pass</h4>
            <p></p>
            <h3 class="text-center">$6/day</h3>
            <p></p>
            <p class="text-center">$30 total</p>
            <button type="button" id="week-pass" class="btn btn-sm" data-toggle="modal" data-target="#purchase-pass" onclick="passPrice('one-way-week')">
              Buy Week Pass
            </button>
          </div>
          <div class="card roundtrip-card card-disabled hidden-xs-down">
            <h4 class="text-center">One way Month Pass</h4>
            <p></p>
            <h3 class="text-center">$5/day</h3>
            <p></p>
            <p class="text-center">
              Coming soon!
            </p>
          </div>
        </div>
      </section>

      <br>
      <br>

      <div id="bottom">
        <p>Have burning questions? Check out our <a href="/faq">FAQ page.</a>
          <br>
          Need to contact us? Email hello@juldi.org with any and all concerns. </p>

          <h6>Copyright &copy; 2017 Juldi LLC, All Rights Reserved.<h6>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/payment.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100479528-1', 'auto');
  ga('send', 'pageview');

</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ73C8zs1E16Hq8qzX7zpDpaYBU1XcYtQ&callback=initMap&libraries=places">
  </script>
</body>
</html>
